*{
    background-color: #ffffff;
}
.dody{
    flex-direction: row-reverse;
    display: inline-flex;
    margin: 5vh 4.554vw;
}
.container{
    padding: 3vh 2.732vw;
}
header{
    display: flex;
    justify-content: space-between;
}
.link__a{
    display: inline-block;
    text-decoration: none;
    padding: 1vh 0.911vw;
    color: black;
}
.link__a:hover{
    border-bottom: 1px solid black;
}
.pie{
    flex-direction: column;
}
.inferior{
    display: flex;
    justify-content: space-between; 
    margin: 2vh 1.821vw;
}
.verde{
    border: solid black;
    background-color: #D5FF43;
    padding: 0.5vh 0.455vw;
}

